/* ========== Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
  
/* ========== Variables ========== */
:root {
  --primary-bg: #161179;
  --primary-text: #000;
  --secondary-text: #fff;
  --border-color: #ccc;
}

/* ========== Typography ========== */
body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
  color: var(--primary-text);
  background: var(--secondary-text);
  min-width: 360px;
}

/* ========== Layout ========== */
section {
  width: 100%;
  max-width: 1440px;
  padding: 80px;
  margin: 0 auto;   
}

section h1 {
  font-size: 2.4rem;
  margin-bottom: 40px;
}

section h2 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

section h3 {
  font-size: 1.4rem;
}

section p, ul {
  font-size: 1rem;
}

/* ========== Button ========== */
button {
  width: 100%;
  max-width: 120px;
  height: 40px;
  padding: 8px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

/* ========== Hero Section ========== */
.hero-section {
  background-color: var(--primary-bg);
  color: var(--secondary-text);
}

.hero-section h1 {
  margin-bottom: 10px;
}

.hero-section h3 {
  margin-bottom: 30px;
}

.hero-section .button {
  background: var(--secondary-text);
  color: var(--primary-text);
  margin-top: 40px;
}

/* ========== Speakers Section ========== */

.speaker-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content:left;
  }

.speaker-box img {
  width: 260px;
  height: 260px;
  margin-bottom: 10px;
   }

/* ========== Schedule Section ========== */
.schedule-section li {
  margin-left: 4px;
}

/* ========== Sign-Up Section ========== */
.sign-up-section input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.sign-up-section .button {
  background: var(--primary-text);
  color: var(--secondary-text);
  margin-top: 12px;
  margin-bottom: 20px;
}